<br><br><br>

<div class="col-md-8 col-md-offset-2">
  <div
    ng-class="{in:alert, 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error'}"
    ng-if="flash">
    <div ng-show="flash.showDetailsButton">
      <button type="button" style="margin-right: 15px;" class="primary" ng-click="showDetails()">Details
      </button>
      <button type="button" class="close" ng-click="closeAlert()">×</button>
      {{flash.message}}
    </div>

    <div ng-show="!flash.showDetailsButton">
      <button type="button" class="close" ng-click="closeAlert()">×</button>
      {{flash.message}}
    </div>

  </div>
</div>

<div ng-show="displayWait">
  <div class="overlay"></div></div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="login-panel panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title" style="text-align: center; font-weight: bold;">ACME BANK</h3>
      </div>
      <div class="panel-body">
        <form name="form"  ng-submit="confirmPayment()" role="form">

          <div ng-show="displayWait">
            <div class="spinner-regular">
              <wave-spinner></wave-spinner>
            </div>
            <div class="please-wait-regular">{{displayMessage}}</div>
          </div>

          <br><br>

          <div class="row">
            <div class="col-md-4 col-md-offset-1">
              <span class="bank-details-header">Payer Information:</span><br><br>
              <span class="bank-details-body">Name: </span><span>{{name}}</span><br>
              <span class="bank-details-body">Email: </span><span>{{email}}</span><br>
              <span class="bank-details-body">phone: </span><span>{{phone}}</span><br>
              <span class="bank-details-body">Address: </span><span>{{address}}</span><br>
            </div>

            <div class="col-md-4 col-md-offset-1">
              <span class="bank-details-header">Item Information:</span><br><br>
              <span class="bank-details-body">Description: </span><span>{{description}}</span><br>
              <span class="bank-details-body">Amount: </span><span>{{amount}}</span><br>
              <span class="bank-details-body">Tax: </span><span>{{tax}}</span><br>
              <span class="bank-details-body">Handling Fee: </span>{{handlingFee}}<span></span><br>
            </div>

          </div>

          <br>
          <hr />
          <br>

          <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required}">
              <input type="email" name="username" id="username" class="form-control" placeholder="E-mail" ng-model="userName" required />
              <span class="help-block" ng-show="form.username.$dirty && form.username.$error.required">E-mail is required.</span>
              <span class="help-block" ng-show="form.username.$dirty && form.username.$error.email">Please enter a valid email address.</span>
            </div>

          <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
              <input type="password" placeholder="Password" name="password" id="password" class="form-control" ng-model="password" required />
              <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
          </div>

          <div class="checkbox" ng-class="{ 'has-error': form.terms.$dirty && form.terms.$error.required }">
            <label style="font-weight: bold;">
            <input type="checkbox" id="terms" name="terms" required>I agree to the Terms of Service and Privacy Policy</label>
          </div>

          <br><br>
          <div class="form-actions" style="text-align:center;">
            <button type="submit"  ng-disabled="form.$invalid"  class="btn btn-primary">Confirm Pay</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



