<div ng-controller="HeaderController">
  <div ng-include src="'/app/views/header.html'"></div>
</div>

<div ng-show="displayWait">
  <div class="overlay"></div>
  <div class="spinner">
    <wave-spinner></wave-spinner>
  </div>
  <div class="please-wait">{{displayMessage}}</div>
</div>

<div class="page-content">

  <div class="row">
    <div class="col-md-12">
      <div class="content-box-large">

        <div class="col-md-10 col-md-offset-1">
          <div
            ng-class="{in:alert, 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error'}"
            ng-if="flash">
            <div ng-show="flash.showDetailsButton">
              <button type="button" style="margin-right: 15px;" class="primary" ng-click="showDetails()">Details
              </button>
              <button type="button" class="close" ng-click="closeAlert()">×</button>
              {{flash.message}}
            </div>

            <div ng-show="!flash.showDetailsButton">
              <button type="button" class="close" ng-click="closeAlert()">×</button>
              {{flash.message}}
            </div>

          </div>
        </div>

        <div class="panel-heading">
          <div class="panel-title grid-head">Payment Flow</div>
        </div>

        <div class="panel-body">
          <form name="paymentForm" ng-submit="" role="form">

            <div class="row">

              <div class="col-md-12">
                <progressbar ng-class="barClass" value="barValue" type="{{barType}}"><span
                  style="color:white; font-weight:bold;">{{barMsg}}</span></progressbar>
              </div>

              <div ng-show="directCreate">
                <div class="form-group col-md-4"
                     ng-class="{ 'has-error': paymentForm.paymentMethod.$dirty && paymentForm.paymentMethod.$error.required}">
                  <label for="paymentMethod">Payment Method</label>
                  <select name="paymentMethod" id="paymentMethod" class="form-control" ng-model="payment.paymentMethod"
                          ng-options="item as item for item in paymentMethodList"
                          ng-change="loadCurrencies(payment.paymentMethod)" required>
                    <option value="">Select Payment Method</option>
                  </select>
                  <span class="help-block"
                        ng-show="paymentForm.paymentMethod.$dirty && paymentForm.paymentMethod.$error.required">Payment method is required.</span>
                </div>


                <div class="form-group col-md-4"
                     ng-class="{ 'has-error': paymentForm.settlement.$dirty && paymentForm.settlement.$error.required}">
                  <label for="settlement">Settlement Currency</label>
                  <select name="settlement" id="settlement" class="form-control" ng-model="payment.settlement"
                          ng-options="item.code as item.display for item in settlementCurrencyList"
                          ng-change="loadAccounts(payment.paymentMethod, payment.settlement)" required>
                    <option value="">Settlement Currency</option>
                  </select>
                  <span class="help-block"
                        ng-show="paymentForm.settlement.$dirty && paymentForm.settlement.$error.required">Settlement Currency is required.</span>
                </div>

                <div class="form-group col-md-4"
                     ng-class="{ 'has-error': paymentForm.accountId.$dirty && paymentForm.accountId.$error.required}">
                  <label for="accountId">Account</label>
                  <select name="accountId" id="accountId" class="form-control" ng-model="payment.accountId"
                          ng-options="item as item for item in accountList"
                          ng-change="getIssuersList(payment.accountId)" required>
                    <option value="">Select Account</option>
                  </select>
                  <span class="help-block"
                        ng-show="paymentForm.accountId.$dirty && paymentForm.accountId.$error.required">Account is required.</span>
                </div>
              </div>

              <div ng-show="accountCreate">
                <div class="form-group col-md-4">
                  <label for="paymentMethod2">Payment Method</label>
                  <input type="text" name="paymentMethod2" id="paymentMethod2" readonly="readonly" class="form-control"
                         ng-model="payment.paymentMethod"/>
                </div>

                <div class="form-group col-md-4">
                  <label for="settlement2">Settlement Currency</label>
                  <input type="text" name="settlement2" id="settlement2" class="form-control" readonly="readonly"
                         ng-model="payment.settlement"/>
                </div>


                <div class="form-group col-md-4">
                  <label for="accountId2">Account</label>
                  <input type="text" name="accountId2" id="accountId2" class="form-control" readonly="readonly"
                         ng-model="payment.accountId"/>
                </div>
              </div>
            </div>

            <div ng-show="accountLoaded">

              <hr/>
              <div>
                <h4>Issuer Information:</h4>
              </div>

              <div class="row">

                <div class="form-group col-md-4"
                     ng-class="{ 'has-error': paymentForm.countryCode.$dirty && paymentForm.countryCode.$error.required}">
                  <label for="countryCode">Payer Country</label>
                  <select name="countryCode" id="countryCode" class="form-control" ng-model="payment.countryCode"
                          ng-options="item as item for item in countryList" ng-change="loadIssuers(payment.countryCode)"
                          required>
                    <option value="">Select Country Code</option>
                  </select>
                  <span class="help-block"
                        ng-show="paymentForm.countryCode.$dirty && paymentForm.countryCode.$error.required">Country code is required.</span>
                </div>


                <div class="form-group col-md-4"
                     ng-class="{ 'has-error': paymentForm.issuer.$dirty && paymentForm.issuer.$error.required}">
                  <label for="issuer">Issuer Bank</label>
                  <select name="issuer" id="issuer" class="form-control" ng-model="payment.issuer"
                          ng-options="item.id as item.name for item in issuerList" ng-change="issuerSelected()"
                          required>
                    <option value="">Select Issuer Bank</option>
                  </select>
                  <span class="help-block" ng-show="paymentForm.issuer.$dirty && paymentForm.issuer.$error.required">Issuer Bank is required.</span>
                </div>

              </div>
            </div>

            <div ng-show="issuerLoaded">

              <hr/>

              <div style="text-align: right;">
                <button type="button" ng-click="fillData()" class="btn btn-primary">Fill Data</button>
                <button type="button" ng-click="eraseData()" class="btn btn-info">Reset</button>
              </div>

              <div>
                <h4>Alternate Payment Information:</h4>
              </div>


              <div class="row">

                <div class="form-group col-md-4">
                  <label for="paymentAccountId">Payment Account Id<span class="require-field">&nbsp;*</span></label>
                  <input type="text" name="paymentAccountId" id="paymentAccountId" class="form-control"
                         readonly="readonly" value='{{payment.accountId}}'/>
                </div>

                <div class="form-group col-md-4">
                  <label for="paymentProviderId">Payment Provider Id<span class="require-field">&nbsp;*</span></label>
                  <input type="text" name="paymentProviderId" id="paymentProviderId" class="form-control"
                         readonly="readonly" value='{{payment.issuer}}'/>
                </div>

                <div class="form-group col-md-4">
                  <label for="requestId">Request Id<span class="require-field">&nbsp;*</span></label>
                  <input type="text" name="requestId" id="requestId" placeholder="Enter Request Id" class="form-control"
                         ng-model="payment.requestId"/>
                </div>

              </div>

              <div class="row">

                <div class="form-group col-md-4">
                  <label for="externalId">External Customer Id</label>
                  <input type="text" name="externalId" id="externalId" placeholder="Enter Customer Id"
                         class="form-control" ng-model="payment.externalId"/>
                </div>

              </div>

              <hr/>

              <div>
                <h4>Payer Information:</h4>
              </div>

              <div class="row">

                <div class="form-group col-md-4">
                  <label for="firstName">First Name</label>
                  <input type="text" name="firstName" id="firstName" class="form-control" placeholder="Enter First Name"
                         ng-model="payment.firstName"/>
                </div>

                <div class="form-group col-md-4">
                  <label for="lastName">Last Name</label>
                  <input type="text" name="lastName" id="lastName" class="form-control" placeholder="Enter Last Name"
                         ng-model="payment.lastName"/>
                </div>

                <div class="form-group col-md-4">
                  <label for="phone">Phone Number</label>
                  <input type="text" name="phone" id="phone" class="form-control" placeholder="Enter Phone Number"
                         onkeydown="phoneno()" maxlength="10" ng-model="payment.phone"/>
                </div>

              </div>

              <div class="row">

                <div class="form-group col-md-4">
                  <label for="shipping">City</label>
                  <input type="text" name="shipping" id="shipping" class="form-control"
                         placeholder="Enter Shipping Address" ng-model="payment.shipping"/>
                </div>

                <div class="form-group col-md-4">
                  <label for="selectedCountry">Country</label>
                  <input type="text" name="selectedCountry" id="selectedCountry" class="form-control"
                         readonly="readonly" value='{{payment.countryCode}}'/>
                </div>

                <div class="form-group col-md-4"
                     ng-class="{ 'has-error': paymentForm.payerMail.$dirty && paymentForm.payerMail.$error.email}">
                  <label for="payerMail">E-mail</label>
                  <input type="email" name="payerMail" id="payerMail" class="form-control" placeholder="Enter E-mail"
                         ng-model="payment.payerMail"/>
                  <span class="help-block" ng-show="paymentForm.payerMail.$dirty && paymentForm.payerMail.$error.email">Please enter a valid email address.</span>
                </div>

              </div>

              <hr/>

              <div>
                <h4>Transaction:</h4>
              </div>

              <div class="row">

                <div class="form-group col-md-4"
                     ng-class="{ 'has-error': paymentForm.amount.$dirty && (paymentForm.amount.$error.required || paymentForm.amount.$error.pattern) }">
                  <label for="amount">Total Amount<span class="require-field">&nbsp;*</span></label>
                  <input type="text" name="amount" id="amount" class="form-control" placeholder="Enter Amount"
                         ng-model="payment.amount" pattern="^[1-9]\d*(\.\d+)?$" required/>
                  <span ng-show="paymentForm.amount.$dirty && paymentForm.amount.$error.required" class="help-block">Amount is required input.</span>
                  <span ng-show=" paymentForm.amount.$error.pattern" class="help-block">Amount should be a number or decimal value. </span>
                </div>

                <div class="form-group col-md-2"
                     ng-class="{ 'has-error': paymentForm.currency.$dirty && paymentForm.currency.$error.required}">
                  <label for="currency">Currency<span class="require-field">&nbsp;*</span></label>
                  <select name="currency" id="currency" class="form-control" ng-model="payment.currency"
                          ng-options="item as item for item in currencyList" required>
                    <option value="">Select Currency</option>
                  </select>
                  <span class="help-block"
                        ng-show="paymentForm.currency.$dirty && paymentForm.currency.$error.required">Currency is required.</span>
                </div>

                <div class="form-group col-md-2"
                     ng-class="{ 'has-error': paymentForm.subTotal.$dirty && paymentForm.subTotal.$error.pattern}">
                  <label for="subTotal">Sub Total<a href="" ng-click="subTotalMessage()" class="require-field">
                    &nbsp;?</a></label>
                  <input type="text" name="subTotal" id="subTotal" class="form-control" placeholder="Enter Tax"
                         ng-model="payment.subTotal" pattern="^[1-9]\d*(\.\d+)?$"/>
                  <span ng-show=" paymentForm.subTotal.$error.pattern" class="help-block">Sub Total should be a number or decimal value. </span>
                </div>

                <div class="form-group col-md-2"
                     ng-class="{ 'has-error': paymentForm.tax.$dirty && paymentForm.tax.$error.pattern}">
                  <label for="tax">Tax</label>
                  <input type="text" name="tax" id="tax" class="form-control" placeholder="Enter Tax"
                         ng-model="payment.tax" pattern="^[1-9]\d*(\.\d+)?$"/>
                  <span ng-show=" paymentForm.tax.$error.pattern" class="help-block">Tax should be a number or decimal value. </span>
                </div>

                <div class="form-group col-md-2"
                     ng-class="{ 'has-error': paymentForm.handlingFee.$dirty && paymentForm.handlingFee.$error.pattern}">
                  <label for="handlingFee">Handling Fee</label>
                  <input type="number" name="handlingFee" id="handlingFee" placeholder="Enter Fee" class="form-control"
                         ng-model="payment.handlingFee" pattern="^[1-9]\d*(\.\d+)?$"/>
                  <span ng-show=" paymentForm.handlingFee.$error.pattern" class="help-block">Handling fee should be a number or decimal value. </span>
                </div>

              </div>

              <div class="row">

                <div class="form-group col-md-8"
                     ng-class="{ 'has-error': paymentForm.description.$dirty && paymentForm.description.$error.required}">
                  <label for="description">Description<span class="require-field">&nbsp;*</span></label>
                  <input type="text" name="description" id="description" class="form-control"
                         placeholder="Enter Description" ng-model="payment.description" required/>
                  <span class="help-block"
                        ng-show="paymentForm.description.$dirty && paymentForm.description.$error.required">Description is required.</span>
                </div>

              </div>

              <hr/>

              <div>
                <h4>Items Breakdown:</h4>
              </div>

              <div class="row">

                <div class="form-group col-md-4">
                  <label for="itemName">Name</label>
                  <input type="text" name="itemName" id="itemName" placeholder="Enter Item1 Name" class="form-control"
                         ng-model="payment.itemName"/>
                </div>

                <div class="form-group col-md-4"
                     ng-class="{ 'has-error': paymentForm.itemQuantity.$dirty && paymentForm.itemQuantity.$error.pattern}">
                  <label for="itemQuantity">Quantity</label>
                  <input type="text" name="itemQuantity" id="itemQuantity" placeholder="Enter Item1 Quantity"
                         class="form-control" ng-model="payment.itemQuantity" pattern="^[1-9]\d*?$"/>
                  <span ng-show=" paymentForm.itemQuantity.$error.pattern" class="help-block">Quantity should be a number value. </span>
                </div>

                <div class="form-group col-md-4"
                     ng-class="{ 'has-error': paymentForm.itemPrice.$dirty && paymentForm.itemPrice.$error.pattern}">
                  <label for="itemPrice">Price</label>
                  <input type="text" name="itemPrice" id="itemPrice" placeholder="Enter Item1 Price"
                         class="form-control" ng-model="payment.itemPrice" pattern="^[1-9]\d*(\.\d+)?$"/>
                  <span ng-show=" paymentForm.itemPrice.$error.pattern" class="help-block">Price should be a number or decimal value. </span>
                </div>

              </div>

              <div class="row">

                <div class="form-group col-md-4">
                  <label for="itemName2">Name</label>
                  <input type="text" name="itemName2" id="itemName2" placeholder="Enter Item2 Name" class="form-control"
                         ng-model="payment.itemName2"/>
                </div>

                <div class="form-group col-md-4"
                     ng-class="{ 'has-error': paymentForm.itemQuantity2.$dirty && paymentForm.itemQuantity2.$error.pattern}">
                  <label for="itemQuantity2">Quantity</label>
                  <input type="text" name="itemQuantity2" id="itemQuantity2" placeholder="Enter Item2 Quantity"
                         class="form-control" ng-model="payment.itemQuantity2" pattern="^[1-9]\d*?$"/>
                  <span ng-show=" paymentForm.itemQuantity2.$error.pattern" class="help-block">Quantity should be a number value. </span>
                </div>

                <div class="form-group col-md-4"
                     ng-class="{ 'has-error': paymentForm.itemPrice2.$dirty && paymentForm.itemPrice2.$error.pattern}">
                  <label for="itemPrice2">Price</label>
                  <input type="text" name="itemPrice2" id="itemPrice2" placeholder="Enter Item2 Price"
                         class="form-control" ng-model="payment.itemPrice2" pattern="^[1-9]\d*(\.\d+)?$"/>
                  <span ng-show=" paymentForm.itemPrice2.$error.pattern" class="help-block">Price should be a number or decimal value. </span>
                </div>

              </div>

              <hr/>

              <div>
                <h4>Redirect Url Details:</h4>
              </div>

              <div class="row">

                <div class="form-group col-md-6"
                     ng-class="{ 'has-error': paymentForm.return_url.$dirty && paymentForm.return_url.$error.required}">
                  <label for="return_url">Return url<span class="require-field">&nbsp;*</span></label>
                  <input type="text" name="return_url" id="return_url" class="form-control"
                         ng-model="payment.return_url" required/>
                  <span class="help-block"
                        ng-show="paymentForm.return_url.$dirty && paymentForm.return_url.$error.required">Return url is required.</span>
                </div>

                <div class="form-group col-md-6"
                     ng-class="{ 'has-error': paymentForm.cancel_url.$dirty && paymentForm.cancel_url.$error.required}">
                  <label for="cancel_url">Cancel url<span class="require-field">&nbsp;*</span></label>
                  <input type="text" name="cancel_url" id="cancel_url" class="form-control"
                         ng-model="payment.cancel_url" required/>
                  <span class="help-block"
                        ng-show="paymentForm.cancel_url.$dirty && paymentForm.cancel_url.$error.required">Cancel url is required.</span>
                </div>

              </div>


              <br>
              <b><p><span class="require-field">&nbsp;*&nbsp;</span>denotes the required fields.</p></b>
              </br>
              <div style="text-align: center;">
                <button type="button" ng-disabled="paymentForm.$invalid" ng-click="createPayment()"
                        class="btn btn-primary">Continue
                </button>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>

<script>
  function phoneno(){
    $('#phone').keypress(function(e) {
      var a = [];
      var k = e.which;
      for (i = 48; i < 58; i++)
          a.push(i);

      if (!(a.indexOf(k)>=0))
          e.preventDefault();
    });
  }






</script>
