<div ng-controller="HeaderController">
  <div ng-include src="'/app/views/header.html'"></div>
</div>

<div class="page-content">
  <div class="row">
    <div class="col-md-12">
      <div class="content-box-large">

        <div class="panel-heading">
          <div class="panel-title grid-head">Payments</div>
          <div class="panel-options">
            <button type="button" class="btn btn-info" ng-click="createPayment()">Create Payment</button>
          </div>
        </div>

        <div class="panel-body">

          <div class="col-md-10 col-md-offset-1">
            <div
              ng-class="{in:alert, 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error'}"
              ng-if="flash">
              <div ng-show="flash.showDetailsButton">
                <button type="button" style="margin-right: 15px;" class="primary" ng-click="showDetails()">Details
                </button>
                <button type="button" class="close" ng-click="closeAlert()">×</button>
                {{flash.message}}
              </div>

              <div ng-show="!flash.showDetailsButton">
                <button type="button" class="close" ng-click="closeAlert()">×</button>
                {{flash.message}}
              </div>

            </div>
          </div>

          <div class="row">

            <div class="col-md-3">
              <div class="input-group">
                <select name="search" id="search" style="width: 95%;" class="form-control" ng-model="searchOption" ng-change="selectSearchType(searchOption)" >
                  <option value="">Select Search Option</option>
                  <option value="payment">Search By Payment</option>
                  <option value="account">Search By Account</option>
                  <option value="date">Search By Date Range</option>
                </select>
                <span class="input-group-btn"><a href="" ng-click="reset()" role="button" class="btn btn-default">Reset</a></span>
              </div>
            </div>

            <div ng-show="showPayment">
              <div class="col-md-4">
                <div class="input-group">
                <ui-select ng-model="paymentIdData.selected" theme="selectize" ng-disabled="enabled" style="width: 95%;">
                  <ui-select-match placeholder="Select Payment Id">{{$select.selected.id}}</ui-select-match>
                  <ui-select-choices repeat="paymentIdData in paymentIdList | filter: $select.search">
                    <span ng-bind-html="paymentIdData.id | highlight: $select.search"></span>
                  </ui-select-choices>
                </ui-select>

                <span class="input-group-btn"><a href="" ng-click="searchPayments('payment', paymentIdData.selected.id)" role="button" class="btn btn-default">Search</a></span>
                </div>
              </div>
            </div>

            <div ng-show="showAccount">

              <div class="col-md-5">
                <div class="input-group">
                  <ui-select ng-model="accountIdData.selected" theme="selectize" ng-disabled="enabled" style="width: 95%;">
                    <ui-select-match placeholder="Select Account Id">{{$select.selected.id}}</ui-select-match>
                    <ui-select-choices repeat="accountIdData in accountList | filter: $select.search">
                      <span ng-bind-html="accountIdData.id | highlight: $select.search"></span>
                    </ui-select-choices>
                  </ui-select>

                  <span class="input-group-btn"><a href="" ng-click="searchPayments('account', accountIdData.selected.id)" role="button" class="btn btn-default">Search</a></span>
                </div>
              </div>
            </div>

            <div ng-show="showDate">
              <div class="col-md-8">
                <div class="col-md-4">
                  <input type="date" class="form-control" datepicker-popup ng-model="date1"/>
                </div>

                <div class="col-md-4">
                  <input type="date" class="form-control" datepicker-popup ng-model="date2"/>
                </div>

                <span class="input-group-btn"><a href="" ng-click="searchPayments('date', (date1 | date:'MM/dd/yyyy'), (date2 | date:'MM/dd/yyyy'))" role="button" class="btn btn-default">Search</a></span>
              </div>
            </div>

          </div>

          <br/><br/>
          <table ng-table="tableParams" class="table ng-table-responsive table-hover">
            <tr ng-repeat="payment in $data">
              <td data-title="'Payment Id'" sortable="'payment_id'"><a href="" ng-click="viewPayment(payment.payment_id)" class="account-detail">
                {{payment.payment_id}}</a>
              </td>
              <td ng-if="false">
                {{payment.payment_date}}
              </td>
              <td data-title="'Date & Time'" sortable="'payment_time'">
                {{payment.payment_time}}
              </td>
              <td data-title="'Type'" sortable="'payment_type'">
                {{payment.payment_type}}
              </td>
              <td data-title="'Payment Option'" sortable="'payment_method'">
                {{payment.payment_method}}
              </td>
              <td data-title="'Settlement'" sortable="'settlement_currency'">
                {{payment.settlement_currency}}
              </td>
              <td data-title="'Amount'" sortable="'amount'">
                {{payment.amount}}
              </td>
              <td data-title="'Status'" sortable="'status'" style="text-transform: uppercase;">
                {{payment.status}}
              </td>
            </tr>
          </table>

        </div>

      </div>
    </div>
  </div>
</div>
