<div ng-controller="HeaderController">
  <div ng-include src="'/app/views/header.html'"></div>
</div>

<div class="page-content">
  <div class="row">
    <div class="col-md-12">
      <div class="content-box-large">

        <div class="col-md-10 col-md-offset-1">
          <div
            ng-class="{in:alert, 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error'}"
            ng-if="flash">
            <button type="button" class="close" ng-click="closeAlert()">×</button>
            {{flash.message}}
          </div>
        </div>

        <div class="panel-heading">
          <div class="panel-title grid-head">Payment Details</div>
        </div>

        <div class="panel-body">
          <form name="paymentForm" ng-submit="" role="form">

            <div class="row">

              <div class="form-group col-md-4">
                <label for="paymentId">Sale Id</label>
                <input type="text" name="paymentId" id="paymentId" class="form-control" ng-model="payment.paymentId"
                       readonly="readonly"/>
              </div>

              <div class="form-group col-md-4">
                <label for="parentId">Transaction Id</label>
                <input type="text" name="parentId" id="parentId" class="form-control" ng-model="payment.parentId"
                       readonly="readonly"/>
              </div>

              <div class="form-group col-md-4">
                <label for="paymentMethod">Payment Method</label>
                <input type="text" name="paymentMethod" id="paymentMethod" ng-model="payment.paymentMethod"
                       readonly="readonly" class="form-control"/>
              </div>

              <div class="form-group col-md-4">
                <label for="settlement">Settlement Currency</label>
                <input type="text" name="settlement" id="settlement" ng-model="payment.settlement" readonly="readonly"
                       class="form-control"/>
              </div>

              <div class="form-group col-md-4">
                <label for="status">Status</label>
                <input type="text" name="status" id="status" ng-model="payment.status" readonly="readonly"
                       class="form-control"/>
              </div>

            </div>

            <br>

            <div>
              <h4>Alternate Payment Information:</h4>
            </div>

            <div class="row">

              <div class="form-group col-md-4">
                <label for="paymentAccountId">Account Id</label>
                <input type="text" name="paymentAccountId" id="paymentAccountId" class="form-control"
                       readonly="readonly" ng-model="payment.accountId"/>
              </div>

              <div class="form-group col-md-4">
                <label for="paymentProviderId">Payment Provider Id</label>
                <input type="text" name="paymentProviderId" id="paymentProviderId" class="form-control"
                       readonly="readonly" ng-model="payment.issuer"/>
              </div>

              <div class="form-group col-md-4">
                <label for="requestId">Request Id</label>
                <input type="text" name="requestId" id="requestId" readonly="readonly" class="form-control"
                       ng-model="payment.requestId"/>
              </div>

            </div>

            <div class="row">

              <div class="form-group col-md-4">
                <label for="externalId">External Customer Id</label>
                <input type="text" name="externalId" id="externalId" readonly="readonly" class="form-control"
                       ng-model="payment.externalId"/>
              </div>

            </div>

            <br>

            <div>
              <h4>Payer Information:</h4>
            </div>

            <div class="row">

              <div class="form-group col-md-4">
                <label for="firstName">First Name</label>
                <input type="text" name="firstName" id="firstName" class="form-control" readonly="readonly"
                       ng-model="payment.firstName"/>
              </div>

              <div class="form-group col-md-4">
                <label for="lastName">Last Name</label>
                <input type="text" name="lastName" id="lastName" class="form-control" readonly="readonly"
                       ng-model="payment.lastName"/>
              </div>

              <div class="form-group col-md-4">
                <label for="phone">Phone Number</label>
                <input type="text" name="phone" id="phone" class="form-control" readonly="readonly"
                       ng-model="payment.phone"/>
              </div>

              <div class="form-group col-md-4">
                <label for="shipping">Shipping Address</label>
                <input type="text" name="shipping" id="shipping" class="form-control" ng-model="payment.shipping"
                       readonly="readonly"/>
              </div>

              <div class="form-group col-md-4">
                <label for="selectedCountry">Country</label>
                <input type="text" name="selectedCountry" id="selectedCountry" class="form-control" readonly="readonly"
                       ng-model="payment.country"/>
              </div>

              <div class="form-group col-md-4">
                <label for="payerMail">E-mail</label>
                <input type="email" name="payerMail" id="payerMail" class="form-control" readonly="readonly"
                       ng-model="payment.payerMail"/>
              </div>

            </div>

            <br>

            <div>
              <h4>Transaction:</h4>
            </div>

            <div class="row">

              <div class="form-group col-md-4">
                <label for="amount">Total Amount</label>
                <input type="text" name="amount" id="amount" class="form-control" readonly="readonly"
                       ng-model="payment.amount"/>
              </div>

              <div class="form-group col-md-2">
                <label for="currency">Currency</label>
                <input type="text" name="currency" id="currency" class="form-control" readonly="readonly"
                       ng-model="payment.currency"/>
              </div>

              <div class="form-group col-md-2">
                <label for="subTotal">Sub Total</label>
                <input type="text" name="subTotal" id="subTotal" class="form-control" readonly="readonly"
                       ng-model="payment.subTotal"/>
              </div>

              <div class="form-group col-md-2">
                <label for="tax">Tax</label>
                <input type="text" name="tax" id="tax" class="form-control" readonly="readonly" ng-model="payment.tax"/>
              </div>

              <div class="form-group col-md-2">
                <label for="handlingFee">Handling Fee</label>
                <input type="text" name="handlingFee" id="handlingFee" readonly="readonly" class="form-control"
                       ng-model="payment.handlingFee"/>
              </div>

              <div class="form-group col-md-8">
                <label for="description">Description</label>
                <input type="text" name="description" id="description" readonly="readonly" class="form-control"
                       ng-model="payment.description"/>
              </div>
            </div>

            <br/>

            <div>
              <h4>Items Breakdown:</h4>
            </div>

            <div class="row">

              <div class="form-group col-md-4">
                <label for="itemName">Name</label>
                <input type="text" name="itemName" id="itemName" class="form-control" readonly="readonly"
                       ng-model="payment.itemName"/>
              </div>

              <div class="form-group col-md-4">
                <label for="itemQuantity">Quantity</label>
                <input type="text" name="itemQuantity" id="itemQuantity" readonly="readonly"
                       class="form-control" ng-model="payment.itemQuantity"/>
              </div>

              <div class="form-group col-md-4">
                <label for="itemPrice">Price</label>
                <input type="text" name="itemPrice" id="itemPrice" readonly="readonly"
                       class="form-control" ng-model="payment.itemPrice"/>
              </div>

            </div>

            <div class="row">

              <div class="form-group col-md-4">
                <label for="itemName2">Name</label>
                <input type="text" name="itemName2" id="itemName2" class="form-control" readonly="readonly"
                       ng-model="payment.itemName2"/>
              </div>

              <div class="form-group col-md-4">
                <label for="itemQuantity2">Quantity</label>
                <input type="text" name="itemQuantity2" id="itemQuantity2" readonly="readonly"
                       class="form-control" ng-model="payment.itemQuantity2"/>
              </div>

              <div class="form-group col-md-4">
                <label for="itemPrice2">Price</label>
                <input type="text" name="itemPrice2" id="itemPrice2" readonly="readonly"
                       class="form-control" ng-model="payment.itemPrice2"/>
              </div>

            </div>


            <br/>

            <div>
              <h4>Redirect Url Details:</h4>
            </div>

            <div class="row">

              <div class="form-group col-md-6">
                <label for="return_url">Return url</label>
                <input type="text" name="return_url" id="return_url" class="form-control" readonly="readonly"
                       ng-model="payment.return_url"/>
              </div>

              <div class="form-group col-md-6">
                <label for="cancel_url">Cancel url</label>
                <input type="text" name="cancel_url" id="cancel_url" class="form-control" readonly="readonly"
                       ng-model="payment.cancel_url"/>
              </div>

            </div>

            <br>

            <div>
              <h4>Issuer REST Call Details:</h4>
            </div>

            <accordion close-others="true" id="collapsedPanel">
              <accordion-group heading="Header">
                <pre pretty-json="payment.issuerUrl"  />
              </accordion-group>
              <accordion-group heading="Response">
                <pre pretty-json="payment.issuerResponse"  />
                <!--<pre>{{payment.issuerResponse | json}}</pre>-->
              </accordion-group>
            </accordion>


            <br>

            <div>
              <h4>Create Payment REST call Details:</h4>
            </div>

            <accordion close-others="true" id="collapsedPanel">
              <accordion-group heading="Header">
                <pre pretty-json="payment.paymentUrl"  />
              </accordion-group>
              <accordion-group heading="Request">
                <pre pretty-json="payment.paymentRequest"  />
              </accordion-group>
              <accordion-group heading="Response">
                <pre pretty-json="payment.paymentResponse"  />
              </accordion-group>
            </accordion>


            <br>

            <div>
              <h4>Callback Details:</h4>
            </div>

            <accordion close-others="true" id="collapsedPanel">
              <accordion-group heading="Callback">
                <pre pretty-json="payment.callback"  />
              </accordion-group>
            </accordion>

            <div style="text-align: center;">
              <button type="button" ng-click="viewAll()" class="btn btn-primary">View All Payments</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>

