<div class="modal fade" id="dialogModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close(false)" data-dismiss="modal"
                aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{title}}</h4>
      </div>
      <form name="accountForm" role="form">
        <div class="modal-body">
          <div ng-show="isPlainData">
            <h4><p><span ng-bind-html="message"></span></p></h4>
          </div>
          <div ng-show="isJsonData">
            <pre pretty-json="message"  />
          </div>
        </div>
        <div class="modal-footer">
          <div class="form-actions">
            <div ng-show="showActionButton">
              <button type="button" ng-click="close(true)" class="btn btn-primary" data-dismiss="modal">{{buttonText}}
              </button>
              <button type="button" ng-click="close(false)" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>

            <div ng-show="showDisplayButton">
              <button type="button" ng-click="close(false)" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

          </div>
        </div>
      </form>
    </div>
  </div>
</div>
