<div>

  <br>
  <div class="row">
    <div id="adminDashboardContainer" class="col-lg-10-offset-1" style="height: 570px"></div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header"></h1>
    </div>
  </div>

  <div class="row">
    <stats category="academicLevel" comments="Academic Level" colour="info" type="user-secret"></stats>
    <stats category="academicStanding" comments="Academic Stand" colour="black" type="bar-chart"></stats>
    <stats category="degree" comments="Degree Status" colour="success" type="book"></stats>
    <stats category="finance" comments="Finance Details" colour="yellow" type="support"></stats>
    <stats category="gender" comments="Gender" colour="primary" type="user"></stats>
    <stats category="gradStatus" comments="Grad Status" colour="danger" type="file"></stats>
    <stats category="transferStatus" comments="Transfer Details" colour="warning" type="calendar-o"></stats>
  </div>


</div>
