<div id="userProfileContainer" class="container">
  <div class="row panel">
    <div class="col-md-4 bg_blur ">
    </div>
    <div class="col-md-8  col-xs-12">
      <img src="http://data2.whicdn.com/images/139218968/large.jpg" class="img-thumbnail picture hidden-xs" />
      <img src="http://data2.whicdn.com/images/139218968/large.jpg" class="img-thumbnail visible-xs picture_mob" />
      <div class="profile-header">
      </div>
    </div>
  </div>


  <div class="row" style="margin-top: 50px">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Bio Profile</h3>
      </div>

      <div class="panel-body">
        <div style="margin-top: 10px;" class="row">
          <div class="col-md-12">
            <span style="font-size: 1.3em;">
              <i class="fa fa-user" aria-hidden="true"></i>
              <strong>Details</strong>
            </span>
            <hr/>
            <p >
              <strong>Name : </strong>{{currentUser.firstName}} {{currentUser.lastName}}
            </p>
            <p >
              <strong>Email : </strong>{{currentUser.email}}
            </p>
            <p >
              <strong>SJSU ID : </strong>{{currentUser.sjsuId}}
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div ng-show="course.course_code" ng-repeat="course in dashboardStudentCourseList" class="col-lg-3 col-md-6">
      <div class="panel panel-{{colorList[$index]}}">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-file-text-o fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="huge"></div>
              <div><b>{{course.name}}</b></div>
            </div>
          </div>
        </div>
        <a ui-sref="dashboard.studentCoursePerformance({course: '{{course}}'})">
          <div class="panel-footer">
            <span class="pull-left">View Details</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>
  </div>



</div>
