<ul id="headerItems" class="nav navbar-top-links navbar-right header-top-items">

    <!-- /.MESSAGES dropdown  -->
    <li  ng-if="userRole == 'Student'" class="dropdown">
        <a class="dropdown-toggle header-top-items" data-toggle="dropdown">
            <i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i>
        </a>
        <ul ng-show="messageList" class="dropdown-menu dropdown-messages">
            <li ng-repeat-start="message in messageList">
                  <a href="#">
                      <div>
                          <strong>{{message.fromUser}}</strong>
                          <span class="pull-right text-muted">
                              <em>{{ message.messageTimestamp }}</em>
                          </span>
                      </div>
                      <div>{{message.subject}}</div>
                  </a>
              </li>
              <li ng-repeat-end class="divider"></li>
            <li>
                <a class="text-center" ui-sref="dashboard.collaboration">
                    <strong>Read All Messages</strong>
                    <i class="fa fa-angle-right"></i>
                </a>
            </li>
        </ul>
        <ul ng-hide="messageList">
          <li>
            <p>SmartEd Inbox Empty</p>
          </li>
        </ul>
        <!-- /.dropdown-messages -->
    </li>

    <!-- /.ACTIVITY dropdown -->
    <li ng-if="userRole == 'Student'" class="dropdown">
        <a class="dropdown-toggle header-top-items" data-toggle="dropdown">
            <i class="fa fa-tasks fa-fw"></i>  <i class="fa fa-caret-down"></i>
        </a>
        <ul ng-show="activityStream" class="dropdown-menu dropdown-tasks">
              <li ng-repeat-start="activity in activityStream track by $index" >
                  <a href="#">
                      <div>
                          <p>
                              <strong>{{activity.type}}</strong>
                              <span class="pull-right text-muted">{{activity.count - activity.unread_count}} / {{activity.count}} Complete</span>
                          </p>
                          <div class="progress progress-striped active">
                              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{activity.read_count}}" aria-valuemin="0" aria-valuemax="{{activity.count}}" style="width: 40%">
                                  <span class="sr-only">{{activity.count - activity.unread_count}} / {{activity.count}} Complete (success)</span>
                              </div>
                          </div>
                      </div>
                  </a>
              </li>
              <li ng-repeat-end class="divider"></li>
            <li>
                <a class="text-center" href="#">
                    <strong>See All Tasks</strong>
                    <i class="fa fa-angle-right"></i>
                </a>
            </li>
        </ul>
        <ul ng-hide="activityStream">
          <li>
            <p>SmartEd Activity Stream Empty</p>
          </li>
        </ul>
        <!-- /.dropdown-tasks -->
    </li>


    <!-- /.TO DO dropdown -->
    <li ng-if="userRole == 'Student'" class="dropdown">
      <a class="dropdown-toggle header-top-items" data-toggle="dropdown">
          <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
      </a>
      <ul ng-show="toDoList" class="dropdown-menu dropdown-alerts">
          <li ng-repeat-start="task in toDoList track by $index">
            <a href="{{task.html_url}}">
              <div>
                <i ng-if="task.type=='grading'" class="fa fa-check-square-o fa-fw"></i>
                <i ng-if="task.type=='submitting'" class="fa fa-upload fa-fw"></i>
                <span>
                  <strong ng-if="task.assignment" >{{task.assignment.name}}</strong>
                </span>

                <span class="pull-right text-muted small">{{task.assignment.due_at}}</span>
              </div>
            </a>
            <a href="{{task.ignore}}">
              <i class="fa fa-times-circle-o fa-fw"></i>
            </a>
          </li>
          <li ng-repeat-end class="divider"></li>
          <li>
            <a class="text-center" href="#">
              <strong>See All Pending Tasks</strong>
              <i class="fa fa-angle-right"></i>
            </a>
          </li>
      </ul>
      <ul ng-hide="toDoList">
        <li>
          <p>SmartEd TO-DO List Empty</p>
        </li>
      </ul>
      <!-- /.dropdown-alerts -->
    </li>


    <!-- /.USER PROFILE dropdown -->
    <li class="dropdown">
        <a class="dropdown-toggle header-top-items" data-toggle="dropdown">
            <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
            <li><a ui-sref="dashboard.userProfile"><i class="fa fa-user fa-fw"></i> User Profile</a>
            </li>
            <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
            </li>
            <li class="divider"></li>
            <li><a ui-sref="login"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
            </li>
        </ul>
        <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
</ul>

