<ul id="headerItems" class="nav navbar-top-links navbar-right header-top-items">
  <style>
    .menuMessageSubject {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .errorMessageMenuItem {
      height: 100px;
      text-align: center;
      padding-top: 30px;
      font-style: italic;
    }
  </style>

  <!-- /.MESSAGES dropdown  -->
    <li  ng-if="userRole == 'Student' || userRole == 'Professor'" class="dropdown">
        <a class="dropdown-toggle header-top-items" data-toggle="dropdown">
            <i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i>
        </a>
        <ul ng-show="messageList" class="dropdown-menu dropdown-messages">
            <li ng-repeat-start="message in messageList">
                  <a  ui-sref="dashboard.collaboration">
                      <div>
                          <strong>{{message.fromUser}}</strong>
                          <span class="pull-right text-muted">
                              <em>{{ message.messageTimestamp }}</em>
                          </span>
                      </div>
                      <div class="menuMessageSubject">{{message.subject}}</div>
                  </a>
              </li>
              <li ng-repeat-end class="divider"></li>
            <li>
                <a class="text-center" ui-sref="dashboard.collaboration">
                    <strong>Read All Messages</strong>
                    <i class="fa fa-angle-right"></i>
                </a>
            </li>
        </ul>
        <ul class="dropdown-menu dropdown-messages" ng-hide="messageList">
          <li class="errorMessageMenuItem">
            <a class="text-muted" href="">
                SmartEd Inbox Empty . .
            </a>
          </li>
        </ul>
        <!-- /.dropdown-messages -->
    </li>

    <!-- /.ACTIVITY dropdown -->
    <li ng-if="userRole == 'Student'" class="dropdown">
        <a class="dropdown-toggle header-top-items" data-toggle="dropdown">
            <i class="fa fa-tasks fa-fw"></i>  <i class="fa fa-caret-down"></i>
        </a>
        <ul ng-show="activityStream" class="dropdown-menu dropdown-tasks">
              <li ng-repeat-start="activity in activityStream track by $index" >
                  <a href="">
                      <div>
                          <p>
                              <strong>{{activity.type}}</strong>
                              <span class="pull-right text-muted">{{activity.count - activity.unread_count}} / {{activity.count}} complete</span>
                          </p>
                          <div class="progress progress-striped active">
                              <div style="width: {{progressBarWidth[$index]}}%" class="progress-bar {{progressBarClass[$index]}}" role="progressbar" aria-valuenow="{{activity.count - activity.unread_count}}" aria-valuemin="0" aria-valuemax="{{activity.count}}" style="width: 40%">
                                  {{activity.count - activity.unread_count}} / {{activity.count}} complete
                              </div>
                          </div>
                      </div>
                  </a>
              </li>
              <li ng-repeat-end class="divider"></li>
        </ul>
        <ul class="dropdown-menu dropdown-tasks" ng-hide="activityStream">
          <li class="errorMessageMenuItem">
            <a class="text-muted" href="">
              SmartEd Activity Stream Empty . .
            </a>
          </li>
        </ul>
        <!-- /.dropdown-tasks -->
    </li>


    <!-- /.TO DO dropdown -->
    <li ng-if="userRole == 'Student'" class="dropdown">
      <a class="dropdown-toggle header-top-items" data-toggle="dropdown">
          <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
      </a>
      <ul ng-show="toDoList" class="dropdown-menu dropdown-alerts">
          <li ng-repeat-start="task in toDoList track by $index">
            <a href="{{task.html_url}}">
              <div>
                <i ng-if="task.type=='grading'" class="fa fa-check-square-o fa-fw"></i>
                <i ng-if="task.type=='submitting'" class="fa fa-upload fa-fw"></i>
                <span >
                  <strong ng-if="task.assignment" >{{task.assignment.name}}</strong>
                </span>
                <br/>
                <span class="text-muted small">{{task.assignment.due_at}}</span>

                <span class="text-muted pull-right"><i class="fa fa-times-circle-o fa-fw"></i></span>
              </div>
            </a>

          </li>
          <li ng-repeat-end class="divider"></li>
      </ul>
      <ul class="dropdown-menu dropdown-alerts" ng-hide="toDoList">
        <li class="errorMessageMenuItem">
          <a class="text-muted" href="">
            SmartEd TO-DO List Empty . .
          </a>
        </li>
      </ul>
      <!-- /.dropdown-alerts -->
    </li>


    <!-- /.USER PROFILE dropdown -->
    <li class="dropdown">
        <a class="dropdown-toggle header-top-items" data-toggle="dropdown">
            <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
            <li><a ui-sref="dashboard.userProfile"><i class="fa fa-user fa-fw"></i> User Profile</a>
            </li>
            <li class="divider"></li>
            <li><a ui-sref="login"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
            </li>
        </ul>
        <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
</ul>

