.overlay {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #000;
  opacity: 0.75;
  z-index: 5;
}

.spinner {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 15;
}

.please-wait {
  font-size: 130%;
  position: absolute;
  top: calc(20% + 30px);
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #fff;
  z-index: 15;
}

.spinner-regular {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 15;
}

.please-wait-regular {
  font-size: 130%;
  position: absolute;
  top: calc(50% + 30px);
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #fff;
  z-index: 15;
}

.wave-spinner {
  width: 50px;
  height: 30px;
}

.wave-spinner>div {
  background-color: #009cde;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}
