<nav class="navbar navbar-default navbar-fixed-top topnav"
     role="navigation">
  <div class="topnav">
    <div class="navbar-header">

    </div>
  </div>
</nav>

<br><br><br>

<div class="col-md-8 col-md-offset-2">
  <div
    ng-class="{in:alert, 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error'}"
    ng-if="flash">
    <button type="button" class="close" ng-click="closeAlert()">×</button>
    {{flash.message}}
  </div>
</div>

<div class="row">

  <div class="col-md-4 col-md-offset-4">
    <div class="login-panel panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">SignUp</h3>
      </div>

      <div class="panel-body">
        <form name="registerForm" ng-submit="register()" role="form">

          <div class="form-group"
               ng-class="{ 'has-error': registerForm.username.$dirty && registerForm.username.$error.required}">
            <input type="email" name="username" id="username" class="form-control" placeholder="SJSU E-mail"
                   ng-model="user.email" required/>
            <span class="help-block" ng-show="registerForm.username.$dirty && registerForm.username.$error.required">E-mail is required input.</span>
            <span class="help-block" ng-show="registerForm.username.$dirty && registerForm.username.$error.email">Please enter a valid email address.</span>
          </div>

          <div class="form-group"
               ng-class="{ 'has-error': registerForm.studentId.$dirty && registerForm.studentId.$error.required }">
            <input type="number" name="studentId" id="studentId" class="form-control" placeholder="Student ID"
                   ng-model="user.studentId" required/>
            <span ng-show="registerForm.studentId.$dirty && registerForm.studentId.$error.required" class="help-block">Student Id is required input.</span>
          </div>

          <div class="form-group"
               ng-class="{ 'has-error': registerForm.firstName.$dirty && registerForm.firstName.$error.required }">
            <input type="text" name="firstName" id="firstName" class="form-control" placeholder="First Name"
                   ng-model="user.firstName" required/>
            <span ng-show="registerForm.firstName.$dirty && registerForm.firstName.$error.required" class="help-block">First Name is required input.</span>
          </div>

          <div class="form-group"
               ng-class="{ 'has-error': registerForm.lastName.$dirty && registerForm.lastName.$errord.required }">
            <input type="text" name="lastName" id="Text1" class="form-control" placeholder="Last Name"
                   ng-model="user.lastName" required/>
            <span ng-show="registerForm.lastName.$dirty && registerForm.lastName.$error.required" class="help-block">Last Name is required input.</span>
          </div>

          <div class="form-group"
               ng-class="{ 'has-error': registerForm.password.$dirty && registerForm.password.$error.required}">
            <!--<input type="password" name="password" id="password" class="form-control" placeholder="Password" ng-model="user.password" ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,30}$/" required />-->
            <input type="password" name="password" id="password" class="form-control" placeholder="Password"
                   ng-model="user.password" required/>
            <span ng-show="registerForm.password.$dirty && registerForm.password.$error.required" class="help-block">Password is required input.</span>
            <!--<span ng-show="registerForm.password.$error.pattern">Password must be minimum 8 characters, having a number, an upper case and a lower case letter. </span>-->
          </div>

          <div class="form-group"
               ng-class="{ 'has-error': registerForm.rePassword.$dirty && registerForm.rePassword.$error.required}">
            <input type="password" name="rePassword" id="rePassword" class="form-control" placeholder="Retype Password"
                   ng-model="user.rePassword" required password-verify="user.password"/>
            <!--<span ng-show="registerForm.rePassword.$dirty && registerForm.rePassword.$error.required" class="help-block">Confirm password is required input.</span>-->
            <span class="help-block"
                  ng-show="registerForm.rePassword.$dirty && registerForm.rePassword.$error.passwordVerify">Retype Password : password did not match.</span>
          </div>

          <div class="form-actions">
            <button type="submit" class="btn btn-primary btn-block">Register</button>
            <a ui-sref="login" class="btn btn-link">Go to Login</a>
          </div>

        </form>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-default navbar-fixed-bottom topnav"
       role="navigation">
    <div class="container topnav" style="font-size: x-small;">
      <BR>
      <p>
        <b>WARNING:</b> EACH TIME YOU LOGIN TO SMARTED PORTAL YOU ARE
        ACKNOWLEDGING YOU HAVE SPECIFIC AUTHORIZATION TO ACCESS OR USE THIS PORTAL. ALL CONNECTIONS TO THIS SYSTEM ARE
        LOGGED AND MONITORED.
        UNAUTHORIZED USE WILL BE PROSECUTED.
      </p>
    </div>
  </nav>
</div>




