<link href="styles/agency.css" rel="stylesheet">
<nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
  <div class="container">
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand page-scroll" ui-sref="home">SmartEd</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a class="page-scroll" ui-sref="home"><i class="fa fa-home fa-fw"></i> Home</a>
        </li>
        <li>
          <a class="page-scroll" ui-sref="login"><i class="fa fa-sign-in fa-fw"></i> Login</a>
        </li>
        <li>
          <a class="page-scroll" ui-sref="signUp"><i class="fa fa-sign-out fa-fw"></i> SignUp</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container" style="min-height: 600px;">
  <div class="row" style="margin-top: 100px">
    <div class="col-md-4 col-md-offset-4">
      <div class="login-panel panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Reset Password</h3>
        </div>

        <div class="panel-body">
          <form name="registerForm" ng-submit="resetPassword()" role="form">

            <div class="form-group"
                 ng-class="{ 'has-error': registerForm.tempPwd.$dirty && registerForm.tempPwd.$error.required}">
              <!--<input type="password" name="password" id="password" class="form-control" placeholder="Password" ng-model="user.password" ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,30}$/" required />-->
              <input type="password" name="tempPwd" id="tempPwd" class="form-control" placeholder="Temporary Password"
                     ng-model="user.tempPassword" required/>
              <span ng-show="registerForm.tempPwd.$dirty && registerForm.tempPwd.$error.required" class="help-block">Temporary password is required input.</span>
              <!--<span ng-show="registerForm.password.$error.pattern">Password must be minimum 8 characters, having a number, an upper case and a lower case letter. </span>-->
            </div>

            <div class="form-group"
                 ng-class="{ 'has-error': registerForm.password.$dirty && registerForm.password.$error.required}">
              <!--<input type="password" name="password" id="password" class="form-control" placeholder="Password" ng-model="user.password" ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,30}$/" required />-->
              <input type="password" name="password" id="password" class="form-control" placeholder="New Password"
                     ng-model="user.password" required/>
              <span ng-show="registerForm.password.$dirty && registerForm.password.$error.required" class="help-block">Password is required input.</span>
              <!--<span ng-show="registerForm.password.$error.pattern">Password must be minimum 8 characters, having a number, an upper case and a lower case letter. </span>-->
            </div>

            <div class="form-group"
                 ng-class="{ 'has-error': registerForm.rePassword.$dirty && registerForm.rePassword.$error.required}">
              <input type="password" name="rePassword" id="rePassword" class="form-control"
                     placeholder="Retype New Password"
                     ng-model="user.rePassword" required password-verify="user.password"/>
              <!--<span ng-show="registerForm.rePassword.$dirty && registerForm.rePassword.$error.required" class="help-block">Confirm password is required input.</span>-->
            <span class="help-block"
                  ng-show="registerForm.rePassword.$dirty && registerForm.rePassword.$error.passwordVerify">Retype Password : password did not match.</span>
            </div>

            <div class="form-actions">
              <button type="submit" class="btn btn-info btn-block">Reset</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <span class="copyright"><b>WARNING:</b> EACH TIME YOU LOGIN TO SMARTED PORTAL YOU ARE
      ACKNOWLEDGING YOU HAVE SPECIFIC AUTHORIZATION TO ACCESS OR USE THIS PORTAL. ALL CONNECTIONS TO THIS SYSTEM ARE
      LOGGED AND MONITORED.
      UNAUTHORIZED USE WILL BE PROSECUTED. <b>Copyright &copy; SmartEd 2016</b></span>
      </div>

    </div>
  </div>
</footer>
