<div class="container" style="margin-top: 20px; margin-bottom: 20px;">
  <div class="row panel">
    <div class="col-md-4 bg_blur ">
      <a href="#" class="follow_btn hidden-xs">Follow</a>
    </div>
    <div class="col-md-8  col-xs-12">
      <img src="http://lorempixel.com/output/people-q-c-100-100-1.jpg" class="img-thumbnail picture hidden-xs" />
      <img src="http://lorempixel.com/output/people-q-c-100-100-1.jpg" class="img-thumbnail visible-xs picture_mob" />
      <div class="profile-header">
        <h1>Lorem Ipsum</h1>
        <h4>Web Developer</h4>
                <span>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."</span>
      </div>
    </div>
  </div>

  <div class="row nav">
    <div class="col-md-4"></div>
    <div class="col-md-8 col-xs-12" style="margin: 0px;padding: 0px;">
      <div class="col-md-4 col-xs-4 well"><i class="fa fa-weixin fa-lg"></i> 16</div>
      <div class="col-md-4 col-xs-4 well"><i class="fa fa-heart-o fa-lg"></i> 14</div>
      <div class="col-md-4 col-xs-4 well"><i class="fa fa-thumbs-o-up fa-lg"></i> 26</div>
    </div>
  </div>


  <div class="row" style="margin-top: 50px">
    <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title"></h3>
        </div>

        <div class="panel-body">
          <form name="updateForm" ng-submit="update()" role="form">

            <div class="form-group"
                 ng-class="{ 'has-error': updateForm.username.$dirty && updateForm.username.$error.required}">
              <input type="email" name="username" id="username" class="form-control" placeholder="SJSU E-mail"
                     ng-model="user.email" readonly/>
            </div>

            <div class="form-group"
                 ng-class="{ 'has-error': updateForm.studentId.$dirty && updateForm.studentId.$error.required }">
              <input type="number" name="studentId" id="studentId" class="form-control" placeholder="Student ID"
                     ng-model="user.studentId" readonly/>
            </div>

            <div class="form-group"
                 ng-class="{ 'has-error': updateForm.firstName.$dirty && updateForm.firstName.$error.required }">
              <input type="text" name="firstName" id="firstName" class="form-control" placeholder="First Name"
                     ng-model="user.firstName" required/>
            <span ng-show="updateForm.firstName.$dirty && updateForm.firstName.$error.required"
                  class="help-block">First Name is required input.</span>
            </div>

            <div class="form-group"
                 ng-class="{ 'has-error': updateForm.lastName.$dirty && updateForm.lastName.$errord.required }">
              <input type="text" name="lastName" id="lastName" class="form-control" placeholder="Last Name"
                     ng-model="user.lastName" required/>
              <span ng-show="updateForm.lastName.$dirty && updateForm.lastName.$error.required" class="help-block">Last Name is required input.</span>
            </div>

            <div class="form-group"
                 ng-class="{ 'has-error': updateForm.oldpassword.$dirty && updateForm.oldpassword.$error.required}">
              <!--<input type="password" name="password" id="password" class="form-control" placeholder="Password" ng-model="user.password" ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,30}$/" required />-->
              <input type="oldpassword" name="oldpassword" id="oldpassword" class="form-control" placeholder="Old Password"
                     ng-model="user.password" required/>
              <span ng-show="updateForm.password.$dirty && updateForm.password.$error.required" class="help-block">Password is required input.</span>
              <!--<span ng-show="updateForm.password.$error.pattern">Password must be minimum 8 characters, having a number, an upper case and a lower case letter. </span>-->
            </div>

            <div class="form-group"
                 ng-class="{ 'has-error': updateForm.password.$dirty && updateForm.password.$error.required}">
              <!--<input type="password" name="password" id="password" class="form-control" placeholder="Password" ng-model="user.password" ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,30}$/" required />-->
              <input type="password" name="password" id="password" class="form-control" placeholder="Password"
                     ng-model="user.password" required/>
              <span ng-show="updateForm.password.$dirty && updateForm.password.$error.required" class="help-block">Password is required input.</span>
              <!--<span ng-show="updateForm.password.$error.pattern">Password must be minimum 8 characters, having a number, an upper case and a lower case letter. </span>-->
            </div>

            <div class="form-group"
                 ng-class="{ 'has-error': updateForm.rePassword.$dirty && updateForm.rePassword.$error.required}">
              <input type="password" name="rePassword" id="rePassword" class="form-control"
                     placeholder="Retype Password"
                     ng-model="user.rePassword" required password-verify="user.password"/>
              <!--<span ng-show="updateForm.rePassword.$dirty && updateForm.rePassword.$error.required" class="help-block">Confirm password is required input.</span>-->
          <span class="help-block"
                ng-show="updateForm.rePassword.$dirty && updateForm.rePassword.$error.passwordVerify">Retype Password : password did not match.</span>
            </div>

            <div class="form-actions">
              <button type="submit" class="btn btn-info btn-block">Update</button>
            </div>

          </form>
        </div>
      </div>
  </div>


</div>
