<div class="col-lg-12">
  <h3 class="page-header">Add Professor</h3>
</div>


<div id="addProfContainer" class="col-md-12">

  <form name="addProfessorForm" ng-submit="addProfessor()" role="form">
    <br><br>
    <div class="row">
      <div class="form-group col-md-6"
           ng-class="{ 'has-error': addProfessorForm.firstName.$dirty && addProfessorForm.firstName.$error.required }">
        <input type="text" name="firstName" id="firstName" class="form-control" placeholder="First Name"
               ng-model="user.firstName" required/>
        <span ng-show="addProfessorForm.firstName.$dirty && addProfessorForm.firstName.$error.required"
              class="help-block">First Name is required input.</span>
      </div>

      <div class="form-group col-md-6"
           ng-class="{ 'has-error': addProfessorForm.lastName.$dirty && addProfessorForm.lastName.$error.required }">
        <input type="text" name="lastName" id="lastName" class="form-control" placeholder="Last Name"
               ng-model="user.lastName" required/>
        <span ng-show="addProfessorForm.lastName.$dirty && addProfessorForm.lastName.$error.required"
              class="help-block">Last Name is required input.</span>
      </div>
    </div>

    <br>

    <div class="form-group"
         ng-class="{ 'has-error': addProfessorForm.email.$dirty && addProfessorForm.email.$error.required}">
      <input type="email" name="email" id="email" class="form-control" placeholder="SJSU E-mail"
             ng-model="user.email" required/>
      <span class="help-block" ng-show="addProfessorForm.email.$dirty && addProfessorForm.email.$error.required">E-mail is required input.</span>
      <span class="help-block" ng-show="addProfessorForm.email.$dirty && addProfessorForm.email.$error.email">Please enter a valid email address.</span>
    </div>

    <br>

    <div class="form-group"
         ng-class="{ 'has-error': addProfessorForm.professorId.$dirty && addProfessorForm.professorId.$error.required }">
      <input type="number" name="professorId" id="professorId" class="form-control" placeholder="Professor SJSU ID"
             ng-model="user.professorId" required/>
      <span ng-show="addProfessorForm.professorId.$dirty && addProfessorForm.professorId.$error.required"
            class="help-block">Professor Id is required input.</span>
    </div>

    <br>

    <div class="form-group"
         ng-class="{ 'has-error': addProfessorForm.password.$dirty && addProfessorForm.password.$error.required}">
      <!--<input type="password" name="password" id="password" class="form-control" placeholder="Password" ng-model="user.password" ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,30}$/" required />-->
      <input type="password" name="password" id="password" class="form-control" placeholder="Password"
             ng-model="user.password" required/>
        <span ng-show="addProfessorForm.password.$dirty && addProfessorForm.password.$error.required"
              class="help-block">Password is required input.</span>
      <!--<span ng-show="addProfessorForm.password.$error.pattern">Password must be minimum 8 characters, having a number, an upper case and a lower case letter. </span>-->
    </div>

    <br><br>

    <div class="form-actions">
      <button type="submit" class="btn btn-primary col-md-offset-5">Add Professor</button>
    </div>

  </form>
</div>
