<div style="height: 800px;">
  <div class="col-lg-12">
    <h3 class="page-header">Course Wise Detailed Score for Quizzes</h3>
  </div>

  <p>
    <i class="fa fa-chevron-right"></i> The graph below depicts the detailed score for each quiz in a particular course
  </p>

  <br/>

  <tableau-chart height="'600px'"
                 url="'https://public.tableau.com/views/Coursewisequizgradedistributionforadmin/Sheet5?:embed=y&:display_count=yes&:showTabs=y'"
                 filters="{}">
  </tableau-chart>
</div>
