<div class="col-lg-12">
  <h3 class="page-header">Professor Details</h3>
  <button id="assignCourse" class="btn btn-info" ng-click= "assignCourses()" >Assign Course</button>
</div>


<div id="profDetailsContainer" class="col-md-12">
  <table ng-table="tableParams" class="table ng-table-responsive table-hover">
    <tr ng-repeat="details in $data">
      <td data-title="'Email'" sortable="'email'"><a href="" class="professor-detail">
        {{details.email}}</a>
      </td>
      <td data-title="'Term'" sortable="'term'">
        {{details.term}}
      </td>
      <td data-title="'Year'" sortable="'year'">
        {{details.year}}
      </td>
      <td data-title="'Course #'" sortable="'courseId'">
        {{details.courseId}}
      </td>
      <td data-title="'Status'" >
          <button class="btn btn-danger" ng-click="updateStatus(details.email, 'DEACTIVATE')" ng-show="details.status">Deactivate</button>
          <button class="btn btn-primary" ng-click="updateStatus(details.email, 'ACTIVATE')" ng-show="!details.status">Activate</button>
      </td>
    </tr>
  </table>
</div>
