<div ng-controller="HeaderController">
  <div ng-include src="'/app/views/header.html'"></div>
</div>

<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="content-box-large">

                <div class="col-md-10 col-md-offset-1">
                    <div ng-class="{in:alert, 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error'}" ng-if="flash">
                      <button type="button" class="close" ng-click="closeAlert()">×</button>
                     {{flash.message}}
                    </div>
                </div>

                <div class="panel-heading">
                    <div class="panel-title grid-head">Payments</div>
                    <div class="panel-options">
                        <button type="button" class="btn btn-info" ng-click="addOneData()">Create Payment</button>
                    </div>
                </div>

                <div class="panel-body">

                        <table st-table="rowCollection" class="table table-striped">
                            <thead>
                            <tr>
                                <th st-sort="firstName">first name</th>
                                <th st-sort="lastName">last name</th>
                                <th st-sort="birthDate">birth date</th>
                                <th st-sort="balance">balance</th>
                                <th>email</th>
                            </tr>
                            <tr>
                                <th>
                                    <input st-search="'firstName'" placeholder="search for firstname" class="input-sm form-control" type="search"/>
                                </th>
                                <th colspan="4">
                                    <input st-search placeholder="global search" class="input-sm form-control" type="search"/>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="row in rowCollection">
                                <td>{{row.firstName | uppercase}}</td>
                                <td>{{row.lastName}}</td>
                                <td>{{row.birthDate | date}}</td>
                                <td>{{row.balance | currency}}</td>
                                <td><a ng-href="mailto:{{row.email}}">email</a></td>
                            </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="5" >
                                        <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>

                </div>

            </div>
        </div>
    </div>
</div>
