<form name="sendMessageForm" ng-submit="sendEmail()" role="form">
<div class="modal-header">
      <button type="button" class="close" ng-click="closeComposePopup()">&times;</button>
      <h3>Compose Email</h3>
    </div>
    <div id="composeMessageContainer" style="padding: 20px;" class="modal-body">
      <div class="row">
        <div class="col-md-12">
              <div class="form-group"
                   ng-class="{ 'has-error': sendMessageForm.email.$dirty && sendMessageForm.email.$error.required}">
                  <input  class="form-control" type="email" name="email" id="email" placeholder="To" ng-model="composeEmail.toUser" required>
                  <span class="help-block"
                      ng-show="sendMessageForm.email.$dirty && sendMessageForm.email.$error.required">Please Enter Email</span>
              </div>
              <div class="form-group"
                   ng-class="{ 'has-error': sendMessageForm.subject.$dirty && sendMessageForm.subject.$error.required}">
                <input  class="form-control" type="text" name="subject" id="subject" placeholder="Enter subject . . " ng-model="composeEmail.subject" required>
                <span class="help-block"
                      ng-show="sendMessageForm.subject.$dirty && sendMessageForm.subject.$error.required">Can not send message without subject !!</span>
              </div>
              <div class="form-group"
                   ng-class="{ 'has-error': sendMessageForm.body.$dirty && sendMessageForm.body.$error.required}">
                <textarea  class="form-control" name="body" id="body" rows="10" placeholder="Enter content . . " ng-model="composeEmail.content" required>
                </textarea>
                <span class="help-block"
                      ng-show="sendMessageForm.body.$dirty && sendMessageForm.body.$error.required">Can not send message without content !!</span>
              </div>

        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-warning" ng-click="closeComposePopup()">Cancel</button>
      <button class="btn  btn-primary"  ng-disabled="sendMessageForm.$invalid"  type="submit">Send</button>
    </div>
  </div>
</form>
