
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closePopup()">&times;</button>
  <h3>{{selectedEmail.subject}}</h3>
</div>
<div class="modal-body">
  <strong>From:</strong> {{selectedEmail.fromUser}}<br />
  <strong>To:</strong> {{selectedEmail.toUser}}<br />
  <strong>Date:</strong> {{selectedEmail.date}}<br />
  <br />
  {{selectedEmail.content}}
</div>

<div class="modal-footer">
  <button class="btn btn-warning" ng-click="closePopup()">Cancel</button>
  <button class="btn  btn-primary" ng-show="activeTab=='inbox'"  ng-click="sendReplyEmail()">Reply</button>
</div>
