<div ng-controller="HeaderController">
  <div ng-include src="'/app/views/header.html'"></div>
</div>

<div class="page-content">
  <div class="row">
    <div class="col-md-12">
      <div class="content-box-large">

        <div class="col-md-10 col-md-offset-1">
          <div
            ng-class="{in:alert, 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error'}"
            ng-if="flash">
            <div ng-show="flash.showDetailsButton">
              <button type="button" style="margin-right: 15px;" class="primary" ng-click="showDetails()">Details
              </button>
              <button type="button" class="close" ng-click="closeAlert()">×</button>
              {{flash.message}}
            </div>

            <div ng-show="!flash.showDetailsButton">
              <button type="button" class="close" ng-click="closeAlert()">×</button>
              {{flash.message}}
            </div>

          </div>
        </div>

        <div class="panel-heading">
          <div class="panel-title grid-head">Manage Accounts</div>
          <div class="panel-options">
            <button type="button" class="btn btn-info" ng-click="createAccount()">Create Account</button>
          </div>
        </div>

        <div class="panel-body">
          <table ng-table="tableParams" class="table ng-table-responsive table-hover">
            <tr ng-repeat="account in $data">
              <td data-title="'Account'" sortable="'account_id'" class="account-detail">
                {{account.account_id}}
              </td>
              <td data-title="'Settlement Currency'" sortable="'settlement_currency'">
                {{account.settlement_currency}}
              </td>
              <td data-title="'Payment Option'" sortable="'payment_method'">
                {{account.payment_method}}
              </td>
              <td data-title="'Action'">
                <button class="btn" ng-click="viewAccount(account.account_id)">View</button>
              </td>
            </tr>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>
