<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close(false)" data-dismiss="modal"
                aria-hidden="true">&times;</button>
        <h4 class="modal-title">Account Details</h4>
      </div>
      <form name="accountForm" role="form">
        <div class="modal-body">


          <div class="form-group">
            <label for="accountId">Account Id</label>
            <input type="text" name="accountId" id="accountId" readonly="readonly" class="form-control"
                   ng-model="account.account_id"/>
          </div>

          <div class="form-group">
            <label for="paymentMethod">Payment Method</label>
            <input type="text" name="paymentMethod" id="paymentMethod" readonly="readonly" class="form-control"
                   ng-model="account.payment_method"/>
          </div>


          <div class="row">
            <div class="form-group col-md-6">
              <label for="settlement">Settlement Currency</label>
              <input type="text" name="settlement" id="settlement" readonly="readonly" class="form-control"
                     ng-model="account.settlement_currency"/>
            </div>
          </div>

          <div class="form-group">
            <label for="presentment">Presentment Currencies</label>
            <textarea class="form-control" rows="1" id="presentment" name="presentment" readonly="readonly"
                      ng-model="account.presentment_currencies"></textarea>
          </div>

          <div class="form-group">
            <label for="notificationUrl">Notification URL</label>
            <textarea class="form-control" rows="2" id="notificationUrl" readonly="readonly" name="notificationUrl"
                      ng-model="account.notification_urls"></textarea>
          </div>


          <div class="row">
            <div class="form-group col-md-6">
              <label for="merchantId">Partner Merchant Account Id</label>
              <input type="text" name="merchantId" id="merchantId" class="form-control" readonly="readonly"
                     ng-model="account.merchant_account_id"/>
            </div>
          </div>

          <hr/>
          <div><b>Payment Provider Details:</b></div>
          <br/>

          <div class="row">
            <div class="form-group col-md-6">
              <label for="paymentProviderId">Merchant Id</label>
              <input type="text" name="paymentProviderId" id="paymentProviderId" class="form-control"
                     readonly="readonly" ng-model="account.merchant_id"/>
            </div>
          </div>

          <div><b>Additional Config:</b></div>
          <br/>

          <div class="row">
            <div class="form-group col-md-6">
              <label for="subId">Sub Account Id</label>
              <input type="text" name="subId" id="subId" class="form-control" readonly="readonly"
                     ng-model="account.sub_account_id"/>
            </div>
          </div>


          <hr/>
          <div><b>Create Account REST call Details:</b></div>
          <br/>

          <accordion close-others="true" id="collapsedPanel">
            <accordion-group heading="Header">
              <pre pretty-json="account.accountHeader"  />
            </accordion-group>
            <accordion-group heading="Request">
              <pre pretty-json="account.accountRequest"  />
            </accordion-group>
            <accordion-group heading="Response">
              <pre pretty-json="account.accountResponse"  />
            </accordion-group>
          </accordion>

          <hr/>
          <div><b>Update Account REST call Details:</b></div>
          <br/>

          <accordion close-others="true" id="collapsedPanel">
            <accordion-group heading="Header">
              <pre pretty-json="account.updateHeader"  />
            </accordion-group>
            <accordion-group heading="Request">
              <pre pretty-json="account.updateRequest"  />
            </accordion-group>
            <accordion-group heading="Response">
              <pre pretty-json="account.updateResponse"  />
            </accordion-group>
          </accordion>

        </div>
        <div class="modal-footer">
          <div class="form-actions">
            <button type="button"
                    ng-click="makePayment(account.account_id, account.payment_method, account.settlement_currency)"
                    class="btn btn-primary">Make Payment
            </button>
            <button type="button" ng-click="editAccount()" class="btn btn-primary">Edit</button>
            <button type="button" ng-click="deleteAccount(account.account_id)" class="btn btn-default">Delete</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
