<div style="height: 800px;">
  <div class="col-lg-12">
    <h3 class="page-header">{{courseName}}: Average Score For All Quizzes</h3>
  </div>

  <p>
    <i class="fa fa-chevron-right"></i> The graph below depicts the average score of all the quizzes in {{courseCode}}: {{courseName}}
  </p>

  <br/>

  <tableau-chart height="'600px'"
                 url="'https://public.tableau.com/views/Coursewisequizgradeaverageforprofupdated/Sheet4?:embed=y&:display_count=yes&:showTabs=y'"
                 filters="{'CourseID':['12530']}">
  </tableau-chart>
</div>
