<div style="height: 800px;">
  <div class="col-lg-12">
    <h3 class="page-header">Review Course Wise Grade Details</h3>
  </div>

  <p>
    <i class="fa fa-chevron-right"></i> The graph below depicts the grades for students for a particular course over the
    years <b>(2010-2015)</b>.
  </p>

  <p>
    <i class="fa fa-chevron-right"></i> Click on the Course Name column to view details for different terms.
  </p>

  <br/>

  <tableau-chart height="'600px'"
                 url="'https://public.tableau.com/views/Termwisecoursegradedistribution2/Sheet1?:embed=y&:display_count=yes&:showTabs=y'"
                 filters="{}">
  </tableau-chart>
</div>
