<div style="height: 800px;">
  <div class="col-lg-12">
    <h3 class="page-header">Detailed Score for Quizzes for {{courseName}}</h3>
  </div>

  <p>
    <i class="fa fa-chevron-right"></i> The graph below depicts the detailed score for each quiz in {{courseCode}}: {{courseName}}
  </p>

  <br/>
  <tableau-chart height="'600px'"
                 url="'https://public.tableau.com/views/Coursewisequizgradedistributionforprof/Sheet5?:embed=y&:display_count=yes&:showTabs=y'"
                 filters="{'Name':['Web and Data Mining']}">
  </tableau-chart>
</div>
