<div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav navbar-collapse">


    <div ng-switch on="userRole">

      <div ng-switch-when="Professor">
        <ul class="nav in" id="side-menu">
          <sidebar-search></sidebar-search>
          <li ui-sref-active="active">
            <a ui-sref="professorDashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
          </li>

          <li ng-class="{active: collapseVar==1}">{{dropDown}}
            <a href="" ng-click="check(1)"><i class="fa fa-wrench fa-fw"></i> Courses<span
              class="fa arrow"></span></a>
            <ul class="nav nav-second-level" collapse="false">
              <li ng-repeat="course in courseList" ui-sref-active="active">
                <a ui-sref="dashboard.courseCharts({courseid: course.courseid})" >{{course.name}}</a>
              </li>

            </ul>
          </li>


          <li ui-sref-active="active">
            <a ui-sref="professor.performance"><i class="fa fa-bar-chart-o fa-fw"></i> Performance<span></span></a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="professor.statistics"><i class="fa fa-table fa-fw"></i> Statistics</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="professor.collaboration"><i class="fa fa-table fa-fw"></i> Collaboration</a>
          </li>
          <li><a href="http://www.vishwadesai.com/"><i class="fa fa-user fa-fw"></i>Personal Page</a></li>
        </ul>
      </div>



      <div ng-switch-when="Student">
        <ul class="nav in" id="side-menu">
          <sidebar-search></sidebar-search>
          <li ui-sref-active="active">
            <a ui-sref="studentDashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
          </li>

          <li ng-class="{active: collapseVar==1}">{{dropDown}}
            <a href="" ng-click="check(1)"><i class="fa fa-wrench fa-fw"></i> Courses<span
              class="fa arrow"></span></a>
            <ul class="nav nav-second-level" collapse="collapseVar!=1">
              <li ui-sref-active="active">
                <a ui-sref="course.assignments.all">Assignments</a>
              </li>
              <li ui-sref-active="active">
                <a ui-sref="course.quizzes.all">Quizzes</a>
              </li>
              <li ui-sref-active="active">
                <a ui-sref="course.grades.upload">Grades</a>
              </li>
              <li ui-sref-active="active">
                <a ui-sref="course.files.all"> Course Content</a>
              </li>
              <li ui-sref-active="active">
                <a ui-sref="course.announcements.all"> Announcements</a>
              </li>
            </ul>
          </li>

          <li ui-sref-active="active">
            <a ui-sref="student.performance"><i class="fa fa-bar-chart-o fa-fw"></i> Performance<span></span></a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="student.recommendations"><i class="fa fa-table fa-fw"></i> Recommendations</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="student.collaboration"><i class="fa fa-table fa-fw"></i> Collaboration</a>
          </li>
          <li><a href="http://www.vishwadesai.com/"><i class="fa fa-user fa-fw"></i>Personal Page</a></li>
        </ul>
      </div>



      <div ng-switch-when="Admin">
        <ul class="nav in" id="side-menu">
          <sidebar-search></sidebar-search>

          <li ui-sref-active="active">
            <a ui-sref="professorDashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
          </li>

          <li ui-sref-active="active">
          <a ui-sref="dashboard.addProfessor"><i class="fa fa-bar-chart-o fa-fw"></i>Add Professor</a>
        </li>

          <li ui-sref-active="active">
            <a ui-sref="dashboard.professorDetails"><i class="fa fa-bar-chart-o fa-fw"></i>View Professors Details</a>
          </li>

          <li><a href="http://www.vishwadesai.com/"><i class="fa fa-user fa-fw"></i>Personal Page</a></li>
        </ul>
      </div>



    </div>


  </div>
  <!-- /.sidebar-collapse -->
</div>



