<div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav navbar-collapse">


    <div ng-switch on="userRole">

      <div ng-switch-when="Professor">
        <ul class="nav in" id="side-menu">
          <sidebar-search></sidebar-search>
          <li ui-sref-active="active">
            <a ui-sref="{{goToState}}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
          </li>

          <li ng-class="{active: collapseVar==1}">{{dropDown}}
            <a ng-click="check(1)"><i class="fa fa-files-o fa-fw"></i> Courses<span
              class="fa arrow"></span></a>
            <ul class="nav nav-second-level" collapse="collapseVar!=1">
              <li ng-repeat="course in courseList" ui-sref-active="active">
                <a href="" ng-click="visitCourse(course.courseId, course.term, course.year)" ><i class="fa fa-file-text fa-fw"></i>{{course.courseId}} {{course.term}}-{{course.year}}</a>
              </li>

            </ul>
          </li>

          <li ui-sref-active="active">
            <a ui-sref="professor.performance"><i class="fa fa-line-chart  fa-fw"></i> Performance<span></span></a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="professor.statistics"><i class="fa fa-table fa-fw"></i> Statistics</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="dashboard.collaboration"><i class="fa fa-envelope fa-fw"></i> Collaboration</a>
          </li>
          <li><a href="http://www.vishwadesai.com/"><i class="fa fa-user fa-fw"></i>Personal Page</a></li>
        </ul>
      </div>



      <div ng-switch-when="Student">
        <ul class="nav in" id="side-menu">
          <sidebar-search></sidebar-search>
          <li ui-sref-active="active">
            <a ui-sref="{{goToState}}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
          </li>

          <li ng-class="{active: collapseVar==1}">{{dropDown}}
            <a ng-click="check(1)"><i class="fa fa-files-o fa-fw"></i> Courses<span
              class="fa arrow"></span></a>
            <ul class="nav nav-second-level" collapse="collapseVar!=1">
              <li ng-repeat="course in studentCourseList track by $index" ui-sref-active="active" ng-show="course.name" >
                <a ui-sref="dashboard.studentCoursePerformance({course: '{{course}}'})" ><i class="fa fa-file-text fa-fw"></i>{{course.name}}</a>
              </li>

            </ul>
          </li>

          <li ui-sref-active="active">
            <a ui-sref="dashboard.studentRecommendations"><i class="fa fa-table fa-fw"></i>Recommendations</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="dashboard.collaboration"><i class="fa fa-envelope fa-fw"></i>Collaboration</a>
          </li>
          <li><a href="http://www.vishwadesai.com/"><i class="fa fa-user fa-fw"></i>Personal Page</a></li>
        </ul>
      </div>



      <div ng-switch-when="Admin">
        <ul class="nav in" id="side-menu">
          <sidebar-search></sidebar-search>

          <li ui-sref-active="active">
            <a ui-sref="{{goToState}}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
          </li>

          <li ui-sref-active="active">
          <a ui-sref="dashboard.addProfessor"><i class="fa fa-user-plus fa-fw"></i>Add Professor</a>
        </li>

          <li ui-sref-active="active">
            <a ui-sref="dashboard.professorDetails"><i class="fa fa-users  fa-fw"></i>Professors Details</a>
          </li>

          <li><a href="http://www.vishwadesai.com/"><i class="fa fa-user fa-fw"></i>Personal Page</a></li>
        </ul>
      </div>



    </div>


  </div>

</div>



